.calendarLink {
    font-size: 15px;
    font-family: 'Titillium Web', sans-serif;
}

iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body {
    background-image: url("homepage_image.PNG");
    background-position: 0px 105px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.title-text {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    margin-top: 275px;
    font-size: 75px;
}

h1 {
    background-color: transparent;
}
