@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
/*
.calendarLink {
    font-size: 15px;
    font-family: 'Titillium Web', sans-serif;
}

iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
*/

.calendar {
    float: right;
    height: 510px;
    margin-right: 45px;
    margin-top: 45px;
}
/*
body {
    background-image: url("homepage_image.PNG");
    background-position: 0px 105px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.homepage-background-text {
    margin-left: 233px !important;
}

.title-text {
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-top: 300px;
    font-size: 60px;
}

h1 {
    background-color: transparent;
}

.after-intro-image {
    margin-top: 225px;
}
*/

#trapezoid-1 {
    text-align: center;
    line-height: 250px; 
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 50px;
    
    float: left;
    border-bottom: 250px solid #203864;
    border-left: 0px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 50%;
}

#trapezoid-2 {
    float: left;
    border-bottom: 250px solid #fee2b4;
    border-left: 0px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: calc(50% + 50px);
}

.home-image {
    float: left;
    position: absolute;
    margin-left: calc(-50px - 50%);
    width: 100%;
    z-index: -1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 500px, 0% 500px);
}

#heading-image {
    background-image: url("images/homepage_image.PNG");
    width: 100%;
    height: 500px;
}

#calendar-div {
    width: 100%;
    height: 600px;
    
    background-color: #ededed;
}

#filler-div {
    width: 100%;
    height: 300px;
}
