@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
/*
.calendarLink {
    font-size: 15px;
    font-family: 'Titillium Web', sans-serif;
}

iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
*/

.calendar {
    float: right;
    height: 510px;
    margin-right: 45px;
    margin-top: 45px;
}

#calendar-text {
    float: left;
    height: 510px;
    margin: 45px;   
}

#trapezoid-1 {
    text-align: center;
    color: white;
    
    float: left;
    border-bottom: 300px solid #203864;
    border-left: 0px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 50%;
}


#large-text {
    margin-top: 88px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

#mini-text {
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
}

#trapezoid-2 {
    text-align: center;
    line-height: 300px;
    
    float: left;
    border-bottom: 300px solid #fee2b4;
    border-left: 0px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: calc(50% + 50px);
}

.home-image {
    float: left;
    position: absolute;
    margin-left: calc(-50px - 50%);
    width: 100%;
    z-index: -1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 500px, 0% 500px);
}

#heading-image {
    background-image: url("images/homepage_image.PNG");
    width: 100%;
    height: 600px;
}

#calendar-div {
    width: 100%;
    height: 600px;
    
    background-color: #ededed;
}

#about-us {
    width: 100%;
    height: 400px;
}

#about-text {
    float: right;
    width: 60%;
    margin-right: 45px;
    margin-top: 45px;
}

#about-image {
    float: left;
    margin-left: 45px;
    margin-top: 45px;
}

#about-image img {
    height: 310px;
}
