.column {
  width: 100%;
}

.contactDescription {
  display: inline-block;
}

.left-page {
  float: left;
  margin: 0px 15px;
  width: 225px;
  background: white;
  box-shadow: 0.1px 0.1px 2px #070707;
}

.right-page {
  visibility: hidden;
  float: right;
  margin: 0px 15px;
  min-width: 225px;
  background: white;
  box-shadow: 0.1px 0.1px 2px #070707;
}
