@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
/*
.calendarLink {
    font-size: 15px;
    font-family: 'Titillium Web', sans-serif;
}

iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
*/

.calendar {
    float: right;
    width: 50%;
    margin-right: 45px;
    margin-top: 45px;
    margin-bottom: 45px;
}

#calendar-text {
    float: left;
    height: 500px;
    width: 30%;
    margin-left: 45px;
    margin-top: 45px;
}

#trapezoid-1 {
    text-align: center;
    color: white;

    float: left;
    border-bottom: 300px solid #002a5c;
    border-left: 0px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 50%;
}


#large-text {
    margin-top: 88px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

#mini-text {
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
}

#trapezoid-2 {
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 25px;

    float: left;
    border-bottom: 300px solid #fee2b4;
    border-left: 0px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: calc(50% + 50px);
}

#trap-2-line-1 {
    margin-top: 100px;
}

.home-image {
    float: left;
    position: absolute;
    margin-left: calc(-50px - 50%);
    width: 100%;
    z-index: -1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 500px, 0% 500px);
}

#heading-image {
    background-image: url("/images/homepage_image.jpg");
    width: 100%;
    height: 600px;
    /*background-repeat: no-repeat;*/
    background-position: right center;
}

#calendar-div {
    width: 100%;
    height: fit-content;
    float: left;
    font-family: 'Noto Sans', sans-serif;
    background-color: #ededed;
}

#about-us {
    width: 100%;
    height: fit-content;
    float: left;
    font-family: 'Noto Sans', sans-serif;
}

#about-text {
    float: right;
    width: 60%;
    margin-right: 45px;
    margin-top: 45px;
    margin-bottom: 45px;
}

#about-image {
    float: left;
    margin-left: 45px;
    margin-top: 45px;
    margin-bottom: 45px;
    width: 25%;
}

#about-image img {
    width: 100%;
}

.img-with-popup-wrapper {
  display: inline-block;
  position: relative;
  width: 125px;
  height: 125px;
}
.img-overlay {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border-radius: 1000px;
  background-color:rgba(0, 0, 0, 0.35);
  z-index: 1;
  color: white;
  display: none;
}
.img-overlay p {
  display: inline;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  margin: 0;
}
.img-with-popup-wrapper:hover .img-overlay {
  display: block;
}
